
/* Your CSS Code here. */
.nested_table{
	background-color:#efefef;
	display:flex;
	justify-content:center;
}
table{
	border:1px  solid black;
}
#fRow{
	background-color:rgb(0,0,0);
	color:white;
	margin:2px;
	text-align:center
}
td{
	border:1px solid black;
}
th{
	border:1px solid black;
}
